@import url('https://fonts.googleapis.com/css2?family=Vina+Sans&display=swap');

* {
    padding: 0;
    margin: 0;
    background-color: #D0A595;
    font-family: 'Vina Sans', sans-serif;
}

.container {
    text-align: center;
}

h1 {
    color: white;
    font-size: 50px;
    font-weight: 400;
    margin: 25px 0;
}

img {
    border-radius: 10px;
    width: 750px;
    height: 750px;
    object-fit: cover;
}

.slide_block {
    margin: auto;
    border-radius: 500px;
    background-color: transparent;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.603);
    width: 570px;
    font-size: 0;
    margin-top: 25px;
}

.slide_block img {
    margin: 7px;
    width: 100px;
    height: 100px;
    border-radius: 1000px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.603);
    object-fit: cover;
}